.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav.links {
  display        : flex;
  justify-content: space-between;
  box-shadow     : 0 0 10px #bbb;
}

nav.links .principal,
nav.links .secundario {
  display        : flex;
  justify-content: start;
  padding        : 10px;
  gap            : 5px;
}

nav.links a {
  color          : #2b2b2b;
  text-decoration: none;
}

a.active {
  font-weight: bold;
}

.listado-productos li {
  list-style-type: none;
}

.product-details {
  padding: 20px;
  display: flex;
}

.left-column {
  max-width: 50vw;
}

.left-column img {
  padding: 20px;
  max-width: 200px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

.right-column {
  max-width: 50vw;
}